body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.graph-edge .visible-edge {
  transition: stroke 0.2s ease;
}
.graph-edge:hover .visible-edge {
  stroke: hsla(0, 0%, 50%, 1);
}

.graph-node circle {
  transition: fill 0.2s ease;
}
.graph-node:hover circle {
  fill: hsla(0, 0%, 50%, 1);
}
